*{
  margin: 0px;
  padding: 0px;
}
.menu-containar{
  background-color: #33D1FF;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.logo-photo{
  width: 150px;
}
.manu{
  display: flex;
}
.item{
  margin-right: 10px;
  padding: 10px;
  font-size: 18px;
}
.item:hover{
    color: red;
}
 .banner-img{
  width: 300px;
 }   
 .banner-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  /* border: 2px solid #1D1663; */
  background-image: url("tushar.avif");
  
 }
 .title{
  font-size: 50px;
  font-weight: bold;
 }
 .description{
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
 }
 .btn{
  padding:10px 20px;
  background-color: navy;
  color:white;
  margin-left: 100px;
  border-radius: 10px 20px;
  border: none;
 }
 .btn:hover{
  color: tomato;
 }
 .about-pra{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  margin-left: 300px;
  text-align: center;
  margin-top: 50px;
  padding: none;
  
 }
 .about-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px;
 }
 .button{
  padding:10px 20px;
  background-color: navy;
  color:white;
  border-radius: 10px 20px;
  border: none;
 }
 .button:hover{
  color: tomato;
 }
  

 .about{
  text-align: center;
  padding-top: 10px;
 }
 .box{
  width: 210px;
  height: 300px;
  box-shadow: 4px 4px 15px blue;
   text-align: center;
   padding: 20px;
   color: ;
   background-color: skyblue;
 }
 .icon-photo{
  width: 80px;
 
 }
 .box-title{
  padding: 10px;
 }
 .box-des{
  padding: 10px;
 }
 .service-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 80vh;
  background-color: #33D1FF;}
  .footer{
    text-align: center;
    background-color: aqua;
  }
  